---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import ImpactBanner from "../components/ImpactBanner.astro";
import Donate from "../components/Donate.astro";
import Footer from "../components/Footer.astro";

// Visual editing React wrappers (only hydrate inside TinaCMS admin)
import StatsVisual from "../components/react/StatsVisual";
import ProgramsVisual from "../components/react/ProgramsVisual";
import NewsVisual from "../components/react/NewsVisual";
import GalleryVisual from "../components/react/GalleryVisual";

// Read content files directly at build time (no GraphQL server needed).
// In the TinaCMS admin iframe, React components hydrate and use
// useTina() to subscribe to live GraphQL updates for visual editing.
import { getStatsData, getProgramsData, getNewsData, getGalleryData } from "../lib/content";

const statsData = getStatsData();
const programsData = getProgramsData();
const newsData = getNewsData();
const galleryData = getGalleryData();
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <StatsVisual {...statsData} client:tina />
    <About />
    <ProgramsVisual {...programsData} client:tina />
    <ImpactBanner />
    <NewsVisual {...newsData} client:tina />
    <GalleryVisual {...galleryData} client:tina />
    <Donate />
  </main>
  <Footer />
</Layout>
