---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import ImpactBanner from "../components/ImpactBanner.astro";
import Donate from "../components/Donate.astro";
import Footer from "../components/Footer.astro";

// Visual editing React wrappers (only hydrate inside TinaCMS admin)
import StatsVisual from "../components/react/StatsVisual";
import ProgramsVisual from "../components/react/ProgramsVisual";
import NewsVisual from "../components/react/NewsVisual";
import GalleryVisual from "../components/react/GalleryVisual";

// Query TinaCMS GraphQL for visual editing data
import client from "../../tina/__generated__/client";

const statsData = await client.queries.statsConnection();
const programsData = await client.queries.programsConnection();
const newsData = await client.queries.newsConnection();
const galleryData = await client.queries.galleryConnection();
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <StatsVisual {...statsData} client:tina />
    <About />
    <ProgramsVisual {...programsData} client:tina />
    <ImpactBanner />
    <NewsVisual {...newsData} client:tina />
    <GalleryVisual {...galleryData} client:tina />
    <Donate />
  </main>
  <Footer />
</Layout>
